-provide :datatable, true
h2
  | 陈涉少时，尝与人佣耕，辍耕之垄上，怅恨久之，曰：
  br 「苟富贵，无相忘。」——《史记·陈涉世家》
=render 'shared/datatable', columns: [{name: '姓名'}, {class: '班级'}, {school: '大学'}, {city: 'City'}, {state: 'State'}], data: @users
=link_to '添加新的录取结果', new_offer_path, class: 'btn btn-large btn-primary span5'
=link_to '填写最终去向', new_user_path, class: 'btn btn-large btn-success span5'
.clearfix
=debug @users
