-provide :recline, true
%h2
  陈涉少时，尝与人佣耕，辍耕之垄上，怅恨久之，曰：
  %br 「苟富贵，无相忘。」——《史记·陈涉世家》
.alert.alert-info{:style => "padding: 20px 20px;"}
  %h4 欢迎使用人大附中2013届出国学生录取结果统计系统！
  %ol
    %li 此系统中提供的录取信息由用户生成、人工审核；欢迎大家踊跃提供自己所知的真实信息！
    %li
      学校信息摘自
      %a{href: 'http://colleges.usnews.rankingsandreviews.com/best-colleges'} US News 2012 大学排名
      ，信息为2011年版本。
    %li
      如有任何疑问，请单击页面底部的
      %span.label.label-success> Email me!
      按钮。
#explorer
=link_to '添加新的录取结果', new_offer_path, class: 'btn btn-large btn-primary btn-block'
