.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      =link_to '人大附中2013届出国生录取结果统计系统', root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav
          %li=link_to 'Home', root_path
